@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'star_jediregular';
    src: url('starjedi-webfont.woff2') format('woff2'),
         url('starjedi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@layer base{
*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
*:focus {
    outline: none;
}
html {
    font-family: star_jediregular;
    overflow:hidden;
}
}

body {
    width:120vw;
    height:130vh;
    background-image: url("light-mode.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
}

#gradient{
    position: absolute;
    width:100vw;
    height:100vh;
    background: linear-gradient(30deg, hsla(0,100%,100%,1) 45%,hsla(0,100%,100%,0)75%);
}

h1{
    font-family: star_jediregular;
    color:black;
    font-size: clamp(1.5em, 8vw, 12em) !important;

}
.container{
    position: relative;
    width:fit-content;
}

.topic-list{
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    font-family: 'Spectral SC', serif;
    
}
#search-input{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width:100%;
    font-family: star_jediregular;
}

.topic-list > *{
    font-size: clamp(1em,3vw,2.25em) !important;
}
#full-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.full-list-item{
    line-height: 1.3em;
    font-family: 'Spectral SC', serif;
}
.bottom-list{
    font-family: star_jediregular;
}


/* Modal styling */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: hsla(0, 0%, 0%, 0.6);
}
.modal-content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
}
#modal-title{
    font-family: star_jediregular;
    font-size: 2em;
}
#details-list > li{
    font-family: 'Spectral SC', serif;
}
#modal-close {
    float:right;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}
    #modal-close:hover,
    #modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* jquery hide message*/
.ui-helper-hidden-accessible { display:none; }
